.main-wrapper{
    margin-bottom: 10vh;
}

.header-wrapper{
    text-align: center;
}

.header{
    font-size: 40px;
    font-weight: bold;
}

.list-wrapper{
    width: 50vw;
    padding: 10vh 10vw 10vh 10vw;


  ul {
      color: rgb(97, 96, 96);
      font-size: 45px;
      list-style-type: none;
      li{
        margin-top: 20px;
      }
      
      li:hover{
          color:black; 
      }
      
  }

}

.front-image{

    width: 40vw;
    height: 25vw;
    min-width: 460px;
    min-height: 400px;
    margin: 15vh 0 0 -10vw;
    z-index: 1;
    opacity: 70%;
}
.back-image{
    width: 40vw;
    height: 25vw;
    min-width: 460px;
    min-height: 400px;
    margin: 5vh 0 0 -25vw ;
    
    background: url('../../../assets/checkedPattern.png');
    
}

.image-icon{
    margin: 40px 0 0 30px;
    height: 100px;
}
