
.header-wrapper{
    text-align: center;
}

.header{
    font-size: 40px;
    font-weight: bold;
}

.wrapper-grid{
    display: grid;
    grid-template-columns: repeat(10,10%);
    grid-template-rows: repeat(14,5vh) ;
}

.list-wrapper{
    grid-column-start:2;
    grid-column-end:6;
    grid-row-start:4;
    grid-row-end: 10;

  ul {
      color: rgb(119, 117, 117);
      font-size: 45px;
      list-style-type: none;
      li{
        margin-top: 20px;
      }
      li:hover{
          color:black; 
      }
  }
}

.front-image{
    grid-column-start:5;
    grid-column-end:9;
    grid-row-start:4;
    grid-row-end: 14;
    z-index: 10;
    opacity: .8;
}
.back-image{
    grid-column-start:6;
    grid-column-end:10;
    grid-row-start:2;
    grid-row-end: 12;
    background: url('../../../assets/checkedPattern.png');
}

.image-icon{
    margin: 40px 0 0 30px;
    height: 100px;
}

.image-text{
    padding: 50px;
    font-size: 18px;
}

@media (max-width: 1120px) {
    .header{
        font-size: 25px;
        font-weight: bold;
    }
    
    .wrapper-grid{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(20,50px) ;
    }
    
    .list-wrapper{
        grid-column: 1;
        grid-row-start:2;
        grid-row-end: 5;
    
      ul {
          color: rgb(119, 117, 117);
          font-size: 30px;
          list-style-type: none;
          li{
            margin-top: 5px;
          }
          
          li:hover{
              color:black; 
          }
      }
    
    }
    
    .front-image{
        grid-column: 1;
        grid-row: 7;
        grid-row-end: 18;
        z-index: 10;
        opacity: .8;
    }

    .back-image{
        grid-column-start:6;
        grid-column-end:10;
        grid-row-start:2;
        grid-row-end: 12;
        background: url('../../../assets/checkedPattern.png');
    }
    
    .image-icon{
        margin: 40px 0 0 30px;
        height: 100px;
    }
    
    .image-text{
        padding: 50px;
        font-size: 18px;
    }
}