.main-banner {
    display: grid;
    grid-template-columns: repeat(10,10%);
    grid-template-rows: repeat(10,10vh) ;
}

.square-container {
    background-color: rgba(245, 246, 248, 0.541);
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 8;
}

.intro-container{
    margin-top: 10vh;  
}

.image-container {
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 7;
    overflow: hidden;
   
}

.intro-paragraph {
    margin-right: 30vw;
    margin-top: 15vh;
    margin-left: 5vw ;
}

.button-wrapper {
    margin-top: 50px;
    margin-left: 5vw;
}

.image-container:hover {
    box-shadow: 0 0 10px #ccc;
}

.image-header {
    max-width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    transition: transform 1s;
    filter: grayscale(0);
    transition: .3s ease-in-out;
}

.image-header:hover {
    transform: scale(1.02);
    filter: grayscale(100%);
}

@media (max-width: 768px) {
    .main-banner {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(8, 10vh);
        justify-content: center;

        padding-bottom: 100px;
        // grid-gap: 5px;
    }

    .square-container {
        grid-column: 1;
        grid-row-start: 4;
        grid-row-end: 11;
        background-color: rgb(245, 246, 248);
        text-align: center;
    }

    .intro-paragraph {
        margin: 0;
    }

    .image-container {
        grid-column: 1;
        grid-row-start: 1;
        grid-row-end: 5;
        overflow: hidden;
    }
    .button-wrapper{
        margin: 40px;
    }
    .back-image{
        display: none;
    }

}