.main-banner {
    margin: 10vh 0 15vh 0;
}

.square-container {
    background-color: rgb(245, 246, 248);
    margin-top: 12vh;
    width: 70vw;
}

.intro-container{
    margin-top: 10vh;
}

.image-container {
    margin: 5vh auto auto -20vw;

    &>img {
        max-width: 50vw;
    }
}

.intro-paragraph {
    max-width: 40vw;
    // margin-right: 30vw;
    // margin-top: 10vh;
}

.button-wrapper {
    margin-top: 50px;
}

.image-container:hover {
    box-shadow: 0 0 10px #ccc;
}

.image-header {
    max-height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    transition: transform 1s;
    filter: grayscale(0);
    transition: .3s ease-in-out;
}

.image-header:hover {
    transform: scale(1.02);
    filter: grayscale(100%);
}

@media (max-width: 600px) {
    .main-banner {
        display: grid;
        grid-template-columns: 5px auto 5px;
        grid-template-rows: repeat(10, 10vh);
        justify-content: center;
        // grid-gap: 5px;
    }

    .square-container {
        grid-column: 2;
        grid-row-start: 5;
        grid-row-end: 11;
        background-color: rgb(245, 246, 248);
    }

    .intro-container {
        padding: 10vw 0 0 0;
        justify-content: center;
        text-align: center;
    }

    .intro-paragraph {
        justify-content: center;
        margin: auto;
    }

    .image-container {
        grid-column: 2;
        grid-row-start: 1;
        grid-row-end: 5;
        overflow: hidden;
    }

    .image-header {
        max-height: 100%;
        object-fit: cover;
        transition: transform 1s;
        filter: grayscale(0);
        transition: .3s ease-in-out;
    }

    .image-header:hover {
        transform: scale(1.02);
        filter: grayscale(100%);
    }
}